@model Card
@{
    ViewData["Title"] = "Detail";
}

<div class="mt-5">
    <div class="mt-5 mx-5">
        <h2 style="color:red; font-size:18px;" >Title:  @Model.Title</h2>
      
    </div>
    <div class="mt-5 mx-5">
         <h2 style="color:blue; font-size:18px;">Description:   @Model.Description </h2>
       
    </div>
    <div class="mt-5 mx-5">
     <label style="font-size:24px;" class="mb-2" >Icon:</label>
     <i style="color:orange; font-size:24px;" class="@Model.Icon"></i>
   </div>
</div>

